* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background: #fff;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% -48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    --height: 58px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 113px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 8px;
    border: 1px solid #212832;
    color: #fff;
    background: #212832;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.eyebrow-heading {
    display: flex;
    align-items: center;
    color: #696D77;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.eyebrow-heading::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    width: 18px;
    height: 2px;
    background: #696D77;
}

.section-heading {
    margin-top: 12px;
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25; /* 125% */
}

.section-desc {
    margin-top: 20px;
    color: #696D76;
    font-size: 1.8rem;
    line-height: 1.6666; /* 166.667% */
}

/* ---------- Header ---------- */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
    column-gap: 47px;
    margin-left: 70.32px;
}

.navbar__link {
    color: #696D76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.navbar__link:hover {
    text-decoration: underline;
}

.navbar__link.active {
    position: relative;
    color: #212832;
    font-weight: 600;
}

.navbar__link.active::before {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    border-radius: 0.5px;
    background: #7264D6;
    bottom: -4px;
    left: 0;

}

.header__right {
    display: flex;
    align-items: center;
    column-gap: 28px;
}

.login-btn {
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.signup-btn {
    --height: 52px;
}

/* ---------- Hero ---------- */

.hero {
    padding: 34px 0;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 160px;
}
.hero__content {
    width: 46.2%;
}

.hero__heading {
    margin-top: 12px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.16666; /* 116.667% */
}

.hero__heading span {
    color: #7264D6;
}

.hero_desc {
    margin-top: 20px;
    color: #696D76;
    font-size: 1.8rem;
    line-height: 1.6666; /* 166.667% */
}

.subscribe-form {
    margin-top: 40px;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    padding: 0 23px;
    border: none;
    outline: none;
}

.subscribe-form__input::placeholder {
    color: #696D76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.subscribe-form__submit {
    margin-right: 8px;
    background: #7264D6;
    width: 149px;
    border-color: #7264D6;
}

.explication {
    margin-top: 20px;
    color: #696D76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71429; /* 171.429% */
}

.hero__media {
    position: relative;
}

.hero__deposite-wrap {
    position: absolute;
    top: 113px;
    left: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px;
    border-radius: 6px;
    background: #FFF;
    width: 174px;
    height: 46px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.hero__deposite {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.hero__deposite-content {
    color: #31456A;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__deposite-value {
    color: #4AB5E3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.hero__interest {
    position: absolute;
    top: 127px;
    right: -174px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #DA6464;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero__interest-value {
    flex-shrink: 0;
    color: #FFF;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__funds-wrap {
    position: absolute;
    bottom: 61px;
    right: -74px;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439F90;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
}

.hero__funds-value {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__funds-content {
    margin-top: 5px;
    color: #FFF;
    font-size: 0.8rem;
    line-height: 1 ; /* 100% */
}

/* ---------- Work ---------- */
.work {
    margin-top: 126px;
    padding: 34px 0;
}

.work__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__media {
    position: relative;
}

.work__decor-top {
    position: absolute;
    top: 76px;
    right: 62px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 64px;
    background: #7264D6;
    border-radius: 8px;
}

.work__decor-logo {
    background: #F8FBFE;
    padding: 8px;
    border-radius: 4px;
    height: 40px;
    width: 40px;
}

.work__decor-bottom {
    position: absolute;
    right: -100px;
    bottom: 96px;
    width: 226px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background: #FFFDFA;
    border-radius: 8px;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
    padding: 15px;
}

.work__decor-check-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #4AB5E3;
    height: 40px;
    width: 40px;
}

.work__decor-check {
    padding: 7px 5px;
    border-radius: 50%;
    background: #fff;
}

.work__decor-title {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.work__decor-desc {
    margin-top: 5px;
    color: #696D76;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
}

.work__content {
    width: 40.2%;
}

.work__heading {
    margin-bottom: 70px;
}

.work__content-title {
    margin-top: 30px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45455; /* 145.455% */
}

.work__content-desc {
    margin-top: 16px;
    color: #696D76;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

/* ---------- Card ---------- */
.card {
    margin-top: 66px;
    padding: 60px 0;
}

.card__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.card__content,
.deposite__content {
    width: 40.2%;
}

.card__info,
.deposite__info {
    display: flex;
    align-items: center;
    margin-top: 28px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66666; /* 166.667% */
}

.card__info::before,
.deposite__info::before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #7264D6;
    margin-right: 12px;
}

.card__info + .card__info {
    margin-top: 18px;
}

.card__btn,
.deposite__btn {
    margin-top: 38px;
    min-width: 149px;
}

.card__media {
    position: relative;
}

.card__decor-top {
    position: absolute;
    top: -48px;
    right: -88px;
    background: #fff;
    width: 276px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 13px;
    border-radius: 12px;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.card-decor__left {
    display: flex;
    align-items: center;
}

.card-decor__left-img {
    padding: 10px;
    background: #fbefef;
    border-radius: 8px;
    margin-right: 14px;
}


.card-decor__left-title {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-decor__left-desc {
    margin-top: 4px;
    color: #696D76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
}

.card-decor__right {
    text-align: right;
}


.card-decor__right-value {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
}

.card-decor__right-date {
    margin-top: 3px;
    color: #696D76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
}

.card__decor-bottom {
    position: absolute;
    right: -88px;
    bottom: -55px;
    height: 120px;
    width: 120px;
    border-radius: 16px;
    background: #439F90;
    padding: 15px;
}

.card__decor-bottom-img {
    border-radius: 8px;
    background: #FFF;
    padding: 8px;
}

.card__decor-bottom-desc {
    color: #FFF;
    font-size: 1.2rem;
    margin: 14px 0 6px;
}

.card__decor-bottom-value {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-weight: 600;
}

/* ---------- Deposite ---------- */
.deposite {
    margin-top: 40px;
    padding: 60px 0;
}

.deposite__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deposite__media {
    position: relative;
}

.deposite-method {
    position: absolute;
    bottom: 57px;
    right: -74px;
    background: #fff;
    box-shadow: 0 44px 48px rgba(0, 0, 0, 0.10);
    padding: 28px;
    width: 281px;
    border-radius: 10px;
}

.deposite-method__title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.666666; /* 166.667% */
}

.deposite-method__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px 18px;
}

.deposite-method__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #F2F2FA;
}

.deposite-method__item:last-child {
    background: #F9EA63;
}

.deposite__decor {
    position: absolute;
    bottom: 222px;
    right: -100px;
    border-radius: 90px;
    background: #7264D6;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.10);
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---------- Testimonial ---------- */
.testimonial {
    padding: 60px 0;
    margin-top: 40px;
}

.testimonial__top {
    width: 435px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.testimonial__eyebrow {
    display: flex;
    justify-content: center;
}

.testimonial__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.testimonial__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.testimonial-item {
    width: 570px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-item__text {
    position: relative;
    padding: 42px 28px;
    width: 100%;
    background: #fff;
    filter: drop-shadow(0 0 2px #DFE2E8);
    color: #696D76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.54545; /* 154.545% */
}

.testimonial-item__text:hover {
    filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
    cursor: pointer;
}

.testimonial-item__text::before {
    position: absolute;
    bottom: -98px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    border: 50px solid;
    border-color: #fff transparent transparent;
}

.testimonial-item__img {
    margin-top: 96px;
    height: 104px;
    width: 104px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.testimonial-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38462; /* 138.462% */
}

.testimonial-item__jobname {
    margin-top: 2px;
    color: #696D76;
    font-size: 1.8rem;
    line-height: 1.66666; /* 166.667% */
}

.testimonial__dots {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.testimonial__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9B9FAB;
    cursor: pointer;
}

.testimonial__dot.active {
    border-color: #7264D6;
    background: #7264D6;
    cursor: default;
}

/* ---------- Blog ---------- */
.blog {
    margin-top: 40px;
    padding: 60px 0;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__top-info {
    width: 435px;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog__btn {
    min-width: 123px;
}

.blog__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.blog-item {
    display: flex;
    align-items: center;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #DFE2E8;
    background: #FFF;
}

.blog-item:hover {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.07);
    cursor: pointer;
    border-color: transparent;
    transform: scale(101%);
    transition: ease 0.3s;
}

.blog-item__img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 22px;
}

.blog-item__date {
    color: #696D76;
    font-size: 1.4rem;
    line-height: 1.71429; /* 171.429% */
}

.blog-item__desc {
    margin: 10px 0 20px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66666; /* 166.667% */
}

.blog-item__link {
    color: #696D76;
    font-size: 1.6rem;
    line-height: 1.625; /* 162.5% */
}

/* ---------- App ---------- */
.app {
    margin-top: 100px;
}

.app__container {
    position: relative;
    border-radius: 24px;
    background: #7264D6;
    padding: 100px 0;
}

.app__inner {
    width: 435px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.app__eyebrow {
    display: flex;
    justify-content: center;
}

.app__desc {
    margin-top: 18px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.app__heading,
.app__desc,
.app__eyebrow {
    color: #fff;
}


.app__eyebrow::before {
    background: #fff;
}

.app__link {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.app__btn {
    min-width: 182px;
    --height: 64px;
    background: #fff;
    border: currentColor;
    padding: 18px 31px;
}

.app__decor {
    position: absolute;
}

.app__decor-1 {
    top: 49px;
    left: 112px;
}

.app__decor-2 {
    top: 49px;
    right: 112px;
}

.app__decor-3 {
    bottom: 49px;
    left: 166px;
}

.app__decor-4 {
    bottom: 49px;
    right: 166px;
}

/* ---------- Footer ---------- */
.footer {
    margin-top: 100px;
    padding-top: 100px;
}

.footer__row {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    column-gap: 163px;
}

.footer__heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66666; /* 166.667% */
}

.footer__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.footer__link,
.footer__address {
    color: #6A6E78;
    font-size: 1.8rem;
    line-height: 1.66666; /* 166.667% */
}

.footer__address {
    margin: 24px 0 48px;
}

.footer__form {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer__form-input {
    padding: 12px;
    width: 270px;
    height: 52px;
    outline: none;
    border-radius: 6px;
    border: 1px solid #8E919A;
}

.footer__form-input::placeholder {
    color: #8E919A;
    font-size: 1.6rem;
    line-height: 28px; /* 175% */
}

.footer__form-btn {
    --height: 52px;
    border-radius: 6px;
    background: #7264D6;
    border: currentColor;
}

.footer__column:last-child > .footer__address {
    width: 371px;
}

.footer__contact {
    margin-top: 70px;
    display: flex;
    align-items: center;
    column-gap: 100px;
    color: #6A6E78;
    font-size: 1.8rem;
    line-height: 1.6666; /* 166.667% */
    text-decoration: underline;
    text-underline-offset: 5px;     /* Tạo khoảng cách tránh đụng chữ */
}

.footer__copyright {
    text-align: center;
    margin-top: 28px;
    padding: 28px 0;
    background: #7264D6;
    color: #FFF;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}